<div class="date-picker">
    <div class="selected-date" (click)="showContent=!showContent"> {{currentDate | date: 'yyyy / MM / dd'}}</div>
    <div class="dates" *ngIf="showContent">
        <div class="month">
            <button class="arrows" (click)="onPreviousMonth()"> &lt; </button>
            <span>{{ calendarCreator.getMonthName(monthNumber) }} {{year}}</span>
            <button class="arrows" (click)="onNextMonth()"> &gt; </button>
        </div>

        <br>

        <table class="calendar">
            <tr>
                <td *ngFor="let weekDay of weekDaysName" class="days weekDayNames">
                    {{ weekDay }}
                </td>
            </tr>
            <tr>
                <td class="days daysNumber" *ngFor="let day of monthDays" [attr.data-dayNumber]="day.dayNumber" #event
                    (click)="selectedDate(event)" (click)="addClass(event, $event, 'selectedDay')"
                    [ngClass]="{'emptyDays' : day.dayNumber == 0,'todaysDate': day.dayNumber == today && selectedMonth == monthNumber && selectedYear == year}">
                    {{day.dayNumber}}
                </td>
            </tr>
        </table>
    </div>
</div>
